.game-board {
  display: flex;
  flex-direction: column;
  border: 2px solid #333;
  max-width: 100%;
  overflow: auto;
}

.row {
  display: flex;
}

.cell {
  width: 8px;
  height: 8px;
}

.water {
  background-color: #4a90e2;
}

.land {
  background-color: #8bc34a;
}

.village-border {
  background-color: rgba(0, 0, 0, 0.3);
}

.village-border-rose {
  background-color: rgba(255, 0, 128, 0.5);
}

.village-border-darkblue {
  background-color: rgba(0, 0, 139, 0.5);
}

.village-border-purple {
  background-color: rgba(128, 0, 128, 0.5);
}

.village-border-darkred {
  background-color: rgba(139, 0, 0, 0.5);
}

.blob {
  border-radius: 50%;
}

.blob-0 {
  background-color: rgb(255, 0, 128);
  border-radius: 50%;
}

.blob-1 {
  background-color: rgb(0, 0, 139);
  border-radius: 50%;
}

.blob-2 {
  background-color: rgb(128, 0, 128);
  border-radius: 50%;
}

.blob-3 {
  background-color: rgb(139, 0, 0);
  border-radius: 50%;
}

.food {
  background-color: #ffc107;
} 